body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a, h1, h2       { color: #377ba8; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  margin: auto;
  height: 100%;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}
.table.dataframe div:first-child
{
    width:15%;
}
tr:nth-child(odd){ background-color:#eee; }
tr:nth-child(even){ background-color:#fff; }

tr:hover{background-color:#f5f5f5}

.counts th {
    background-color: #add8e6;
    color: white;
}

.ECSA th {
    background-color: #add8e6;
    color: white;
}

.QoSA th {
    background-color: #77dd77;
    color: white;
}

.WICSA th {
    background-color: #99dd77;
    color: white;
}

