<!-- extend tablej layout -->
{% extends "tablej.html" %}

{% block title %}Papers and Affiliations{% endblock %}

{% block content %}
  <body>
      <table id="AFFILIATIONPAPER" class="dataTable sig-datatable" width="100%">
      <thead>
        <th>paperID</th>
        <th>affilID</th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </body>
  <script>
        $(document).ready(function(){
            $('#AFFILIATIONPAPER').dataTable( {
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true, 
            "aaSorting": [],
            "bInfo": false,
            "bJQueryUI": true,
            "bAutoWidth": true,
            "columns":  [
                { "data": "paperID" },
                { "data": "affilID" },
                
            ],
            "ajax": {
        "url":"http://127.0.0.1:5000/jsonTotal/AFFILIATIONPAPER",
            },
         });   
        });   
   </script>
{% endblock %}