<!-- extend tablej layout -->
{% extends "tablej.html" %}

{% block title %}CONFERENCES{% endblock %} 

{% block content %}
  <body>
      <table id="CONFERENCES" class="dataTable sig-datatable" width="100%">
      <thead>
        <th>confName</th>
        <th>confID</th>
      </thead>
      <tbody>
      </tbody>
    </table>

  </body>
  <script>
        $(document).ready(function(){
            $('#CONFERENCES').dataTable( {
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true, 
            "aaSorting": [],
            "bInfo": false,
            "bJQueryUI": true,
            "bAutoWidth": true,
            "columns":  [
                { "data": "confName" },
                { "data": "confID" },
            ],
            "ajax": {
        "url":"http://127.0.0.1:5000/jsonTotal/CONFERENCES",
            },
         });   
        });   
   </script>
{% endblock %} 
