
<html>


  <div id="confyr-container" class="absolute panel panel-default">
    <select class="fp-value fp-target">
          <option name="ECSA">ECSA</option>
          <option name="QoSA">QoSA</option>
          <option name="WICSA">WICSA</option>  
    </select>
    <input type="number" class="fp-value fp-threshold" min="2004" max="2014"
           step="1" value="2010">
  </div>

    
<script src="https://code.jquery.com/jquery-3.0.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.18.1/URI.js"></script>

<script>
    function getURLParameter(parameterName) {
        var uri = URI(window.location.href)
        return uri.search(true)[parameterName]
    }

function removeURLParameter(parameterName) {
    var uri = URI(window.location.href);
    
    uri.removeSearch(parameterName);
    
    navigateToURI(uri);
}

function setURLParameter(parameterName, parameterValue) {
    var uri = URI(window.location.href);
    
    if (parameterValue)
        uri.setSearch(parameterName, parameterValue);
    else
        uri.removeSearch(parameterName);
    
    navigateToURI(uri);
}

function navigateToURI(uri) {
    var _url = uri.path() + uri.search();
    // here we decode the URI because then Chrome will show the URL in a nicer way even if it url-encodes it behind the scenes
    _url = decodeURIComponent(_url);
    
    history.pushState({}, "", _url);
}
function doit() {
    var $confYrContainer = $('#confyr-container');
    var $threshold = $confYrContainer.find('.fp-threshold');
    var $target = $confYrContainer.find('.fp-target');
    var json = {threshold: $threshold.val(),
                target: $target.val()};

    $.ajax({
        url: "http://novero.org/search",
        dataType: 'json',
        type: 'GET',
        data: json
    }).done(function(data) {
        // do your changes here
    }).fail(function() {
        alert("failed");
        // we can change stuff now!
        $target.val("WICSA");
        $threshold.val("2004");
    });

}


$(document).ready(function () {
    var $confYrContainer = $('#confyr-container');
    var $threshold = $confYrContainer.find('.fp-threshold');
    //get fp-threshold from URL else use default
    var threshold = $threshold.val()
    var _thresh = getURLParameter("threshold");
    if (_thresh && $.isNumeric(_thresh)) {
        _thresh = parseFloat(_thresh);
        if (_thresh > 0 && _thresh <= 1)
            threshold = _thresh;
        else
            showAlert('Conference data is only available from 2004 to 2014');
    }
    $threshold.val(threshold);

    $threshold.change(function () {
        threshold = $threshold.val();
        setURLParameter("threshold", threshold);
        doit();
    });

 

})
</script>
    
</html>