<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DataBase Project _ ANovero</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">
    
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{{ url_for('index') }}"><button>Home</button></a></li>
          </ul>
        </nav>
        <h3 class="text-muted">{% block title %}{% endblock %}</h3>
      </div>
 
      <div class="jumbotron">  
    
    <body>
        {% block content %}{% endblock %}
    

    
    <table BORDER="2">
        <Caption color = "white" > Let's Navigate </Caption>
        
        <tr> 
            <td > <a href="{{ url_for('index') }}"><button>Home</button></a></td>
            <td>  <a href="{{ url_for('getUsers') }}"><button>Users</button></a></td>
            <td > <a href="{{ url_for('aboutme') }}"><button>AboutMe!</button></a></td>
            <td > <a href="{{ url_for('jsonContents') }}"><button>What Do We Have?</button></a></td>   
        </tr>
        <tr>
            <td > <a href="{{ url_for('jsonContentsconf') }}"><button>Visual Conference Breakdown</button></a></td>
            <td > <a href="{{ url_for('jsonPaperKW') }}"><button>Papers and their Keywords</button></a></td>
            <td > <a href="{{ url_for('seeKWTrends') }}"><button>Find a Keyword</button></a></td>
            <td > <a href="{{ url_for('authoredpapers') }}"><button>Authors and their Papers</button></a></td>
            <td > <a href="{{ url_for('seeAuthors') }}"><button>Find Paper's Authors</button></a></td>
            <td > <a href="{{ url_for('seeAuthorsName') }}"><button>Author's Papers</button></a></td>
        </tr>
    </table>
    <iframe src="http://www.myneu.neu.edu">
          <p>Your browser does not support iframes.</p>
     </iframe> 
    </body>
<footer class="footer">
    <p>&copy; Aileen's Wicked Awesome Company 2015</p>
</footer>
        </div>
      </div>
    </body>
</html>
