<!-- extend tablej layout -->
{% extends "tablej.html" %}

{% block title %}paperKW{% endblock %}

{% block contents %}
<style>
    caption, th, td {
        padding: 8px;
        text-align: left;
        border: 1px solid #fff;
        border-bottom: 1px solid #ddd;
        }
     caption {
        font-weight: bold;
        font-size: 1.1em;
     }
</style>
<h2> Papers and their Keywords </h2>
  <body>
      <table id="paperKW" class="dataTable sig-datatable" width="100%">
      <thead>
        <th>paperID</th>
        <th>keywords</th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </body>
  <script>
        $(document).ready(function(){
            $('#paperKW').dataTable( {
            "buttons" : ["print"],  
            "colReorder" : true,
            "rowReorder" : true,
            "ajax" : '/api/data',
            "deferRender" : true,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true, 
            "aaSorting": [],
            "bInfo": false,
            "bJQueryUI": true,
            "bAutoWidth": false,
            "columns":  [
                { "data": "paperID"},
                { "data": "keywords"},
            ],
            "ajax": {
        "url":"http://127.0.0.1:5000/papers/keywords",
            },
         });   
        });   
   </script>
<table BORDER="1">
        <tr> 
            <td > <a href="{{ url_for('search_kw') }}"><button>Search For a Keyword</button></a></td>
            <td > <a href="{{ url_for('seeKWTrends') }}"><button>See A Trend</button></a></td>
        </tr>
</table>
{% endblock %}