<!-- extend tablej layout -->
{% extends "tablej.html" %}

{% block title %}{{title}}{% endblock %}

{% block contents %}
<body>
  <div id="confyr-container" class="absolute panel panel-default">

    <input class="fp-value fp-target" >
  </div>

    <table id="example" class="display dataTable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>paperID</th>
                <th>Title</th>
                <th>Conference</th>
                <th>PublicationYear</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>paperID</th>
                <th>Title</th>
                <th>Conference</th>
                <th>PublicationYear</th>
            </tr>
        </tfoot>
    </table>
</body>

<script src="https://code.jquery.com/jquery-3.0.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.18.1/URI.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script>
    function getURLParameter(parameterName) {
        var uri = URI(window.location.href)
        return uri.search(true)[parameterName]
    }

function removeURLParameter(parameterName) {
    var uri = URI(window.location.href);
    
    uri.removeSearch(parameterName);
    
    navigateToURI(uri);
}

function setURLParameter(parameterName, parameterValue) {
    var uri = URI(window.location.href);
    
    if (parameterValue)
        uri.setSearch(parameterName, parameterValue);
    else
        uri.removeSearch(parameterName);
    
    navigateToURI(uri);
}

function navigateToURI(uri) {
    var _url = uri.path() + uri.search();
    // here we decode the URI because then Chrome will show the URL in a nicer way even if it url-encodes it behind the scenes
    _url = decodeURIComponent(_url);
    
    history.pushState({}, "", _url);
}

function doit(table) {
    var $confyrContainer = $('#confyr-container');
    var $target = $confyrContainer.find('.fp-target');
    var url = "/search_kw/" + $target.val() ;
    
    $.ajax({
        url: url, 
        dataType: 'json',
        type: 'GET',
    }).done(function(data) {
        // do your changes here
    }).fail(function() {
        alert("failed");
        // we can change stuff now!
        $target.val("vulnerability");
    });

    // or reload the table
    // https://datatables.net/reference/api/ajax.url().load()
    table.ajax.url( url ).load();
}


$(document).ready(function () {
    var $confyrContainer = $('#confyr-container');
    var $target = $confyrContainer.find('.fp-target');
    
    // Make the table
    var table = $('#example').DataTable( {
      ajax: "/search_kw/" + $target.val(),
      dataSrc: "data", // prop in the return json 

      "processing": true,
      "serverSide": true,
      "columns": [
            { "data": "paperID" },
            { "data": "Title" },
            { "data": "Conference" },
            { "data": "PublicationYear" }
         ],
    } );  


    $target.change(function () {
        setURLParameter("target", $target.val());
        doit(table);
    });
    
})
</script>
{% endblock %}
