<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-12" />
  <title>{{title}}</title>
  <link type="text/css" rel="stylesheet"
       href="{{ url_for('static',
                        filename='welcome.css')}}" />
</head>
<body>
<table border = 1>
         <thead>
             {% for key in keys %}
            <td>{{key}}</td>
             {% endfor %}
         </thead>
         
         {% for row in rows %}
         
            <tr>
                {% for key in keys %}
                   <td>{{row[key]}}</td>
                {% endfor %}
            </tr>
         {% endfor %}
      </table>

<a href="{{ url_for('index') }}"><button>Home</button></a>
</body>
</html>