<!-- extend tablej layout Returns a table of given PaperId and the associated authors by conference and year though redundant.  The count is the total number of papers the author has been ascribed over the entirety of the database -->
{% extends "tablej.html" %}

{% block title %}Paper's Authors by ID{% endblock %}

{% block contents %}
<body>
  <div id="confyr-container" class="absolute panel panel-default">
    <input class="fp-value fp-target" value="1">
  </div>
    <table id="example" class="display dataTable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>PaperID</th>
                <th>Author</th>
                <th>Paper Title</th>
                <th>Conference</th>
                <th>pubYear</th>
                <th>count</th>
                <th>Delete the Paper</th>
            </tr>
        </thead>       
    </table>
</body>

<script>
    function getURLParameter(parameterName) {
        var uri = URI(window.location.href)
        return uri.search(true)[parameterName]
    }

function removeURLParameter(parameterName) {
    var uri = URI(window.location.href);
    
    uri.removeSearch(parameterName);
    
    navigateToURI(uri);
}

function setURLParameter(parameterName, parameterValue) {
    var uri = URI(window.location.href);
    
    if (parameterValue)
        uri.setSearch(parameterName, parameterValue);
    else
        uri.removeSearch(parameterName);
    
    navigateToURI(uri);
}

function navigateToURI(uri) {
    var _url = uri.path() + uri.search();
    // here we decode the URI because then Chrome will show the URL in a nicer way even if it url-encodes it behind the scenes
    _url = decodeURIComponent(_url);
    
    history.pushState({}, "", _url);
}

function doit(table) {
    var $confyrContainer = $('#confyr-container');
    var $target = $confyrContainer.find('.fp-target');
    var url = "/getauthorsbyID/" + $target.val() ;
    
    $.ajax({
        url: url, 
        dataType: 'json',
        type: 'GET',
    }).done(function(data) {
        // do your changes here
    }).fail(function() {
        alert("failed");
        // we can change stuff now!
        $target.val("1");
    });

    // or reload the table
    // https://datatables.net/reference/api/ajax.url().load()
    table.ajax.url( url ).load();
}


$(document).ready(function () {
    var $confyrContainer = $('#confyr-container');
    var $target = $confyrContainer.find('.fp-target');
    
    // Make the table
    var table = $('#example').DataTable( {
      ajax: "/getauthorsbyID/" + $target.val(),
      dataSrc: "data", // prop in the return json 
            "colReorder" : true,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true, 
            "aaSorting": [],
            "bInfo": false,
            "bJQueryUI": true,
            "bAutoWidth": true,
             "columns": [
                { "data": "paperID" },
                { "data": "authorName" },
                { "data": "title" },
                { "data": "confName" },
                { "data": "pubYear" },
                { "data": "counts" },
                { "data": "DeletePaper" }
         ],
    } );  


    $target.change(function () {
        setURLParameter("target", $target.val());
        doit(table);
    });
    
})
</script>
<table BORDER="1">
        <tr> <td > <a href="{{ url_for('confbreakdown') }}"><button>Conference Breakdowns by Year</button></a></td>
             <td > <a href="{{ url_for('search_kw') }}"><button>Search Keywords</button></a></td>
             <td > <a href="{{ url_for('authoredpapers') }}"><button>Look at Authored Papers</button></a></td>
            <td > <a href="{{ url_for('seeAuthorsID') }}"><button>Find Another Paper's Authors</button></a></td>
        </tr>
</table>

{% endblock %}




