<!-- extend tablej layout DRAFT   -->
{% extends "tablej.html" %}

{% block title %}KeywordTrend{% endblock %}

{% block contents %}
<h2> Keyword: {{entry[0]}} </h2>
  <body>
      <table id="KeywordTrend" class="dataTable sig-datatable">
      <thead>
        <th>Table</th>
        <th>Counts</th>
        <th>Trend</th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </body>
  <script>
        $(document).ready(function(){
            $('#KeywordTrend').dataTable( {
            "buttons" : ["print"],  
            "colReorder" : true,
            "ajax" : '/api/data',
            "scrollY" : 550,
            "deferRender" : false,
            "scroller" : true,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true, 
            "aaSorting": [],
            "bInfo": false,
            "bJQueryUI": true,
            "bAutoWidth": true,
            "columns":  [
                { "data": "table"},
                { "data" : "cts"
                { "data": "trend"}
            ],
            "ajax": {
        "url":"/seeKWTrend/{{entry[0]}}",
            },
         });   
        });   
   </script>

<table BORDER="1">
        <tr> <td > <a href="{{ url_for('confbreakdown') }}"><button>Conference Breakdowns by Year</button></a></td>
             <td > <a href="{{ url_for('search_kw') }}"><button>Search Keywords</button></a></td>
        </tr>
</table>

 
{% endblock %}